.container-fluid{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-text{
    margin: 50px;
    padding:10px;
    display:flex;
    justify-content:center;
}

.text-patente{
    width: 400px;
}
.container-buttons{
    width: 800px;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-table{
    padding: 40px;
}